{% extends "layout.html" %}

{% block main %}
    <form method="POST">
        <fieldset>
            <legend>Time frame:</legend>
            <input type="radio" id="week" name="time_frame" onchange="this.form.submit()" checked />
            <label htmlFor="week">Week</label>
            <input type="radio" id="month" name="time_frame" onchange="this.form.submit()" />
            <label htmlFor="month">Month</label>
            <input type="radio" id="year" name="time_frame" onchange="this.form.submit()" />
            <label htmlFor="year">Year</label>
        </fieldset>
    </form>
{% endblock %}