{% extends "layout.html" %}

{% block main %}
<h6>Username:</h6>
<p>{{ username }}</p>
<hr />
<h6>Change Password:</h6>
<form action="/settings" method="post">
    <div>
        <input name="old_pass" placeholder="Old Password" type="password">
    </div>
    <div>
        <input name="new_pass" placeholder="New Password" type="password">
    </div>
    <div>
        <input name="confirmation" placeholder="Confirmation" type="password">
    </div>
    <button type="submit">Change Password</button>
</form>
{% endblock %}